/* Starability Basic Styles */
.starability-slot {
  display: block;
  position: relative;
  width: 100%;
  min-height: 40px;
  border: none;
  padding: 0;
  margin: 0;
}

.starability-slot > input {
  position: absolute;
  margin-right: -100%;
  opacity: 0;
}

.starability-slot > label {
  position: relative;
  float: right;
  width: 30px;
  height: 30px;
  color: transparent;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ddd' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

/* select and hover */

.starability-slot > input:checked ~ label,
.starability-slot > input:focus ~ label,
.starability-slot > label:hover ~ label,
.starability-slot > label:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f39c12' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
}

/* Displaying static stars (Result) */

.starability-result {
  position: relative;
  width: 150px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ddd' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 30px 30px;
}

.starability-result::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f39c12' d='M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 30px 30px;
}

/* data-rating value ke hisaab se stars fill karna */

.starability-result[data-rating="1"]::after { width: 20%; }
.starability-result[data-rating="2"]::after { width: 40%; }
.starability-result[data-rating="3"]::after { width: 60%; }
.starability-result[data-rating="4"]::after { width: 80%; }
.starability-result[data-rating="5"]::after { width: 100%; }